/* Модальное окно фоновое */
.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Когда модальное окно активно */
.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 1;
}

/* Контент модального окна */
.modal__content {
  padding: 50px;
  border-radius: 12px;
  background-color: #fafafb;
  max-width: 380px;
  font-size: 16px;
  font-weight: 600;
  transform: translateY(30px); /* Начальная позиция — смещение снизу */
  opacity: 0; /* Начальная прозрачность */
  /* animation: floatIn 0.5s forwards; Применяем анимацию */
}

/* Анимация для плавного появления */
@keyframes floatIn {
  0% {
    transform: translateY(30px); /* Начальная позиция — смещение снизу */
    opacity: 0; /* Начальная прозрачность */
  }
  100% {
    transform: translateY(0); /* Финальная позиция — без смещения */
    opacity: 1; /* Полная непрозрачность */
  }
}

.modal__content.active {
  animation: floatIn 0.5s forwards; /* Активируем анимацию при включении модального окна */
}
